body {
  overflow-x: hidden;
}

.entire {
  width: 100%;
  height: 1500px;
  background-color: #f5f5f5;
}

.circle {
  width: 120%;
  height: 120%;
  position: absolute;
  left: -10%;
  top: -60%;
  margin: 0 auto;
  z-index: 1;
  background-color: #518e65;
  border-radius: 50%;
}

.front {
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-35%, -45%);
}

.logoSignup {
  max-width: 200px;
  width: 20%;
  margin-left: 22%;
  margin-top: 10%;
  object-fit: cover;
}

input {
  width: 95%;
  height: 40px;
  text-align: center;
  border: 1px solid #40513b;
  border-radius: 5px;
}

#phoneAuth {
  width: 85%;
  margin-right: 5%;
}

#email {
  width: 80%;
  margin-right: 3%;
}

#emailAuth {
  width: 90%;
}

#authBtn {
  width: 10%;
}

#emailAuth {
  width: 70%;
  margin-right: 5%;
}

#authBox {
  width: 95%;
  display: none;
  margin-bottom: 3%;
  justify-content: space-between;
  align-items: flex-end
}

.act {
  display: block;
}

#pswdResult {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
}

#memberName,
#memberId,
#pswd,
#pswdChk,
#bDay,
#phone {
  margin-bottom: 3%;
}

.select span {
  font-size: 15px;
}

.select input[type="radio"] {
  display: none;
}

.select input[type="radio"] + label {
  display: inline-block;
  height: 22px;
  width: 100px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #518e65;
  line-height: 24px;
  font-size: 15px;
}

.select input[type="radio"] + label {
  background-color: #fff;
  color: #518e65;
}

.select input[type="radio"]:checked + label {
  background-color: #518e65;
  color: #fff;
}

.signupBtn {
  width: max-content;
  height: 40px;
  background-color: #edf1d6;
}

#signUpBtn {
  width: 95%;
  height: 40px;
  margin-top: 3%;
}

input::placeholder {
  color: black;
}

span {
  font-size: 13px;
}

.addInfoSpan {
  font-size: 15px;
}

.success {
  color: #3f497f;
}

.error {
  color: #F97B22;
}
