.loandetail {
  display: grid;
  grid-template-rows: 0.3fr 3fr;
  grid-template-columns: 0.3fr 5fr 0.3fr;
  grid-template-areas:
    ". loandetail_header ."
    ". loandetail_body .";
  overflow-y: auto;
}
.loandetail_header {
  grid-area: loandetail_header;
  display: grid;
  grid-template-columns: 5fr 4fr;
  grid-template-areas: "loandetail_title loandetail_btn";
  margin-top: 30px;
}
.loandetail_body {
  grid-area: loandetail_body;
}

.loandetail_title {
  grid-area: loandetail_title;
}
.loandetail_btn {
  grid-area: loandetail_btn;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.detail_apply {
  grid-area: detail_apply;
}

.detail_limitbtn {
  background-color: #fffedd;
  width: 150%;
  border-radius: 10px;
}
.detail_consultbtn {
  background-color: #031389;
  color: #ffffff;
  width: 150%;
  border-radius: 10px;
}

#detail {
  width: 100%;
  height: 700px;
  overflow-y: auto;
}

#detail::-webkit-scrollbar {
  width: 10px; /* 스크롤바의 너비 */
}

#detail::-webkit-scrollbar-thumb {
  height: 30%; /* 스크롤바의 길이 */
  background: #609966; /* 스크롤바의 색상 */
  border-radius: 10px;
}

#detail::-webkit-scrollbar-track {
  background: rgba(100, 100, 100, 0.1); /*스크롤바 뒷 배경 색상*/
}
