.loanlimit {
  display: grid;
  grid-template-rows: 0.5fr 3fr;
  grid-template-columns: 0.3fr 5fr 0.3fr;
  grid-template-areas: ". loanlimit_header ." ". loanlimit_body .";
  overflow-y: auto;
}
.loanlimit_header {
  grid-area: loanlimit_header;
  margin-top: 30px;
}
.loanlimit_body {
  grid-area: loanlimit_body;
}

.loanlimit_title {
  grid-area: loanlimit_title;
}
