.loanList {
  display: grid;
  height: 900px;
  grid-template-rows: 0.5fr 5fr;
  grid-template-columns: 0.3fr 5fr 0.3fr;
  grid-template-areas: ". loanheader ." ". loanbody .";
}
.loanheader {
  grid-area: loanheader;
  display: grid;
  height: 80px;
  grid-template-columns: 3fr 3fr 1fr;
  grid-template-areas: "pageTitle . comSelector";
}
.pageTitle {
  grid-area: pageTitle;
}
.comSelector {
  grid-area: comSelector;
}

.loanbody {
  grid-area: loanbody;
  height: 700px;
  overflow-y: auto;
}

.loanbody::-webkit-scrollbar {
  width: 10px; /* 스크롤바의 너비 */
}

.loanbody::-webkit-scrollbar-thumb {
  height: 30%; /* 스크롤바의 길이 */
  background: #609966; /* 스크롤바의 색상 */
  border-radius: 10px;
}

.loanbody::-webkit-scrollbar-track {
  background: rgba(100, 100, 100, 0.1); /*스크롤바 뒷 배경 색상*/
}

.loanhr {
  border: 0;
  height: 3px;
  background-color: black;
}

.loan {
  display: grid;
  grid-template-rows: 0.5fr 0.5fr;
  grid-template-areas: "loantitle" "loanbtn";
  align-items: center;
}
.loantitle {
  grid-area: loantitle;
}
.loantitle h2 {
  margin-bottom: 0px;
}
.loandis {
  grid-area: loandis;
  margin-left: 1%;
}

.loanbtn {
  grid-area: loanbtn;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 10px;
}

/* .applybtn{
    background-color: #031389;
    color: #FFFFFF;
    width: 100%;
    border-radius: 10px;
} */

.limitbtn {
  background-color: #fffedd;
  width: 100%;
  border-radius: 10px;
}
.consultbtn {
  background-color: #031389;
  color: #ffffff;
  width: 100%;
  border-radius: 10px;
}
