.uplods {
  display: grid;
  grid-area: uplods;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: "files loanapplybtn";
  justify-items: stretch;
}
.files {
  grid-area: files;
}

.loanapplybtn {
  display: grid;
  grid-area: loanapplybtn;
  margin-right: 10%;
  align-items: end;
  justify-items: end;
}
.file {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "h2 button";
  align-items: center;
}
.upload_user_btn {
  display: flex;
  grid-area: button;
  margin-left: 10%;
  height: 40%;
  width: 50%;
  margin: 0 auto;
  border-radius: 15px;
  background-color: #c1d0b5;
  justify-content: center;
  align-items: center;
}
.file > h2 {
  grid-area: h2;
}
.file > h2 {
  background-color: #99a98f;
  padding: 13px;
  padding-right: 20px;
  width: 100%;
  border-radius: 15px;
}
.file1 {
  display: flex;
}
.file2 > h2 {
  background-color: #f5f0bb;
  padding: 13px;
  width: 100%;
  border-radius: 15px;
}
.file_desc {
  background-color: #f5f0bb;
  opacity: 80%;
  padding: 10%;
  border-radius: 15px;
}

button.finalapply_btn {
  width: 130px;
  height: 50px;
  background-color: #474e68;
  color: white;
  border-radius: 10px;
  margin-bottom: 8%;
}
.files input[type="file"] {
  background-color: aquamarine;
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}

.upload-name {
  width: 35%;
  margin-left: 7%;
  height: 35px;
}

.filename {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
