.videos {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 5%;
  padding-bottom: 5%;
  width: 100%;
  border-style: groove;
  border-radius: 0.5%;
}

.Video {
  border: 1px black dashed;
  width: 250px;
  height: 200px;
}

.floatingName {
  display: flex;
  justify-content: center;
}

.options {
  margin: 5%;
  padding: 2%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border-style: groove;
}

.option {
  display: flex;
  align-items: flex-end;
  margin-bottom: -50px;
}

.other {
  display: grid;
}
.videobtn {
  background-color: #edf1d6;
  height: 50px;
}
