.noticelist {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 3fr;
  grid-template-areas: ". notice_checkbox notice_checkbox" "noticeTable noticeTable noticeTable";
  align-items: start;
  justify-items: center;
  height: 600px;
  border: 2px solid #609966;
  border-radius: 10px;
}
.notice_checkbox{
  grid-area: notice_checkbox;
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 15%;
}
.noticeTable {
  grid-area: noticeTable;
}
.fav {
  margin-right: 5%;
}

.line {
  grid-area: line;
}
.MuiTableBody-root {
  width: 100%;
  height: 100%;
}
.star {
  background-color: transparent;
  height: 12px;
}
