.noticelist {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 70px 5fr;
  grid-template-areas: ". checkbox checkbox" "noticeTable noticeTable noticeTable";
  align-items: start;
  justify-items: center;
  height: 850px;
  border: 2px solid #609966;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 40px;
}
.checkBox {
  grid-area: checkbox;
  display: grid;
  width: 100%;
  height: 100%;
  align-items: end;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: ". fav recruiting";
}
.noticeTable {
  grid-area: noticeTable;
  display: grid;
  align-items: start;
  width: 95%;
  height: fit-content;
}
.tablebox {
  height: 60px;
  width: 100%;
  display: grid;
  grid-template-columns: 1.3fr 350px 1fr 1fr 1fr 1fr 0.5fr;
  grid-template-areas: "panid panname location startdate enddate state favorite";
  background-color: #eef1e6;
  border-radius: 15px;
  align-items: center;
  justify-items: center;
}

.bodypanlist {
  display: flex;
}
.tablebody {
  margin-top: 10px;
}
.fav {
  grid-area: fav;
}

.recruiting {
  grid-area: recruiting;
}

.line {
  grid-area: line;
}
.panid {
  grid-area: panid;
}
.panname {
  grid-area: panname;
}
.location {
  grid-area: location;
}
.startdate {
  grid-area: startdate;
}
.enddate {
  grid-area: enddate;
}
.state {
  grid-area: state;
}
.favorite {
  grid-area: favorite;
}
.favbtn {
  background-color: transparent;
}
