.notice {
  display: grid;
  align-items: start;
  justify-items: center;
  height: 850px;
  border: 2px solid #609966;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 40px;
}
.notice::-webkit-scrollbar {
  width: 7px; /* 스크롤바의 너비 */
}
.notice::-webkit-scrollbar-thumb {
  height: 30%; /* 스크롤바의 길이 */
  background: #609966; /* 스크롤바의 색상 */
  border-radius: 10px;
}

.notice::-webkit-scrollbar-track {
  background: rgba(100, 100, 100, 0.1); /*스크롤바 뒷 배경 색상*/
}

.noticeDetail {
  display: grid;
  width: 100%;
  grid-template-rows: 0.1fr 2fr 2fr;
  grid-template-areas: "noticeHeader" "noticeBody" "noticeFooter";
  row-gap: 3%;
  align-items: center;
  justify-items: center;
}

.noticeHeader {
  grid-area: noticeHeader;
  display: grid;
  width: 100%;
  grid-template-columns: 0.7fr 0.3fr 3fr 1fr 0.3fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "golist noticeFav noticeTitle noticeTitle . "
    ". . . noticeDate  noticeDate";
  align-items: center;
  justify-items: center;
  margin-top: 2%;
}
.noticeTitle {
  grid-area: noticeTitle;
}
.noticeFav {
  grid-area: noticeFav;
}
.tag {
  background-color: transparent;
}
.noticeDate {
  grid-area: noticeDate;
  float: left;
}
.noticeBody {
  grid-area: noticeBody;
  width: 70%;
  height: 100%;
}

.noticeFooter {
  grid-area: noticeFooter;
  width: 90%;
}

.panDetailTable {
  margin-top: 10px;
  background-color: #eef1e6;
  border-radius: 20px;
}

.goList {
  grid-area: golist;
  background-color: #2c7929;
  height: 50%;
  padding: 10px;
  color: white;
}
