.endChat {
  background-color: #fffedd;
  height: fit-content;
  box-shadow: 1px 1px 1px 0px gray;
}

.loanapply_detail_admin {
  display: flex;
}

.loanapply_detail_admin td {
  padding: 10px;
  font-size: 20px;
}

#chatTitle {
  display: flex;
  justify-content: space-around;
  /* justify-content: space-between; */
  align-items: center;
}
