.usertopbar {
  width: 90%;
}
.manageuser {
  display: flex;
  width: 90%;
  margin: 0 auto;
  margin-top: 3%;
  justify-content: center;
  overflow-y: auto;
}

.userdetailtable {
  width: 100%;
  background-color: #ebf2f7;
  border-radius: 15px;
}
.usertablebox {
  height: 60px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 2fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "userid username useremail userbd userrole userwork userwant useredit";
  background-color: #ebf2f7;
  border-radius: 15px;
  align-items: center;
  justify-items: center;
}

.userworkbtn {
  background-color: #9db2bf;
}
.userconsultbox {
  height: 60px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "userid username userloan userloanstate enterroom";
  background-color: #ebf2f7;
  border-radius: 15px;
  align-items: center;
  justify-items: center;
}
.usertopbar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}
.userpagebtn {
  background-color: #9db2bf;
  margin-right: 1%;
  width: 30px;
  height: 25px;
  color: white;
}
.usereditbtn {
  background-color: #9db2bf;
}

.userloanbox {
  height: 60px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "userid username userloan userstate userdocs";
  background-color: #ebf2f7;
  border-radius: 15px;
  align-items: center;
  justify-items: center;
}
