.modalcontainer {
  /* 모달창 크기 */
  width: 500px;
  height: 400px;
  z-index: 999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* 모달창 디자인 */
  background-color: lightgray;
  border-radius: 8px;
}

/* 모달창 내부 X버튼 */
.modalclose {
  position: absolute;
  right: 10px;
  top: 10px;
  width: fit-content;
  height: fit-content;
  margin: 10px;
  padding: 5px 10px;
  color: white;
  background-color: #526d82;
}
